@media screen and (max-width: 1100px) {
    .headerReferencePoints {
        display: none;
    }
    .headerFormAndSelect {
        margin-top: 30px;
    }
    .header_box {
        flex-direction: column;
        align-items: flex-start;
    }
    .section_3_img {
        margin-top: 50px;
    }
    .section_4_box_h2_span {
        display: flex;
        flex-flow: column nowrap;
    }
    .section_4_card {
        margin-top: 40px;
    }
    .footer_box_personal_data {
        flex-direction: column;
        align-items: flex-start;
        margin: 20px 0;
    }
    .footer_img_vector {
        align-self: flex-end;
        margin: 20px 10px;
    }
    .footer_box_number_email {
        flex-direction: column;
    }
    .footer_div_number {
        margin-bottom: 10px;
    }
    .footer_box_documents {
        margin-bottom: 20px;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', 'PT Mono', 'PT Serif', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    padding: 40px 10px;
}

.header_box {
    display: flex;
    justify-content: space-between;
}

.header_a {
    color: black;
    transition: all 0.3s ease-in;
}

.header_a:hover {
    color: #4F00A4;
}

.headerReferencePoint {
    padding: 5px 15px;
}

.headerFormAndSelect {
    display: flex;
    flex-direction: row;
}

.header_form {
    display: flex;
    margin-right: 60px;
}

.inputSearchText {
    color: #4F00A4;
    font-size: 16px;
    outline: none;
    border: 2px solid #dadada;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 150px;
    margin-left: 10px;
}

.inputSearchText::placeholder {
    color: #dadada;
    font-size: 16px;
    transition: all 0.5s ease-in;
}

.inputSearchText:focus::placeholder {
    color: transparent;
}

.header_select {
    font-weight: bold;
    appearance: none;
    outline: none;
    overflow: hidden;
    background: url('img/symbol_arrow.svg') no-repeat right center;
    border: none;
}

.optionLanguage {
    font-weight: bold;
}

.section_1 {
    background: url('img/Rectangle_23.svg') no-repeat;
    background-size: cover;
    padding: 0 10px;
}

.section_1_main_description {
    padding: 100px 0;
}

.section_1_description {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.section_1_h2 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 10px 0; 
}

.section_1_main_p {
    margin: 30px 0 40px 0;
}

.section_1_p {
    color: #FFFFFF;
    font-size: 16px;
}

.section_1_company {
    display: flex;
}

.section_1_company_span {
    color: #FFFFFF;
    padding-top: 5px;
    margin-right: 20px;
}

.section_1_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background: #39C1E9;
    border-radius: 10px;
    padding: 30px 35px;
    margin-bottom: 20px; 
    height: 220px;
    transition: all 0.5s ease-in;
}

.section_1_card:hover {
    background: #4F00A4;
}

.section_1_card_span_1 {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 80px; 
}

.section_1_card_span_2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}

.section_2 {
    margin: 150px 0;
}

.section_2_h2 {
    font-size: 40px;
    margin-bottom: 60px;
}

.section_2_text_pdf {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.section_2_a {
    color: #0021A7;
}

.section_2_p {
    text-decoration: underline dotted;
    text-underline-offset: 6px;
    padding-bottom: 10px; 
}

.section_2_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background: #0021A7;
    border-radius: 10px;
    padding: 30px 35px;
    margin-bottom: 20px; 
    height: 220px;
    transition: all 0.3s ease-in;
}

.section_2_card:hover {
    background: #4F00A4;
}

.section_3 {
    background: #F7F7F7;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section_3_text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

.section_3_li {
    padding-left: 15px;
    margin-left: 15px;
}

.section_3_img {
    box-sizing: border-box;
    width: 100%;
    margin-top: 100px;
}

.section_3_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background: #39C1E9;
    border-radius: 30px;
    padding: 30px 35px;
    margin-top: 30px;
    margin-bottom: 20px; 
    height: 200px;
    transition: all 0.5s ease-in;
}

.section_3_card:hover {
    background: #4F00A4;
}

.section_3_card_span_1 {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section_3_card_span_2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}

.section_4 {
    margin: 150px 0;
}

.section_4_box_h2_span {
    display: flex;
    justify-content: space-between;
}

.section_4_news {
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
}

.section_4_news_span {
    color: #4F00A4;
    font-weight: bold;
    padding-top: 6px;
    margin-right: 20px;
}

.section_4_card {
    width: 100%;
}

.section_4_card_description {
    margin: 20px 0 0 10px;
}

.section_4_card_add_1 {
    font-size: 13px;
    font-weight: bold;
}

.section_4_card_add_2 {
    font-size: 19px;
    margin: 15px 0;
}

.section_4_card_add_3 {
    font-size: 14px;
}

.footer_main_container_1 {
    background: #4E409A;
    padding: 20px 10px;
}

.footer_box_personal_data {
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    margin: 20px 0;
}

.footer_div_location ,
.footer_div_number ,
.footer_div_email {
    display: flex;
    align-items: flex-start;
}

.footer_span_location ,
.footer_span_number ,
.footer_span_email {
    padding-top: 7px;
    margin-left: 15px;
}

.footer_span_number {
    margin-right: 25px;
}

.footer_box_number_email {
    display: flex;
}

.footer_main_container_2 {
    background: #2A1791;
    padding: 60px 10px;
}

.footer_box_documents {
    display: flex;
    flex-direction: column;
}

.footer_h3 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer_span_document {
    color: #FFFFFF;
    font-size: 14px;
    padding-bottom: 10px;
}

.footer_last_word {
    color: #948EB5;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
}